{% extends "base.twig" %}

{% block title %}Errore 404{% endblock %}

{% block mastheadH2 %}Errore 404{% endblock %}

{% block content %}
  <div class="ui vertical stripe segment" id="funzionalita">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="sixteen wide column">
            <h3 class="ui header">Pagina non trovata</h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
